* {
  box-sizing: border-box;
}
header {
  background-color: #ae3836;
  width: 100%;
}
#listheader {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 60px;
  gap: 2%;
  margin: 0;
  padding: 0;
}
.aheader {
  text-decoration: none;
  color: white;
  font-family: Orbitron, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}
.aheader:hover {
  color: rgb(255, 0, 179);
}
footer {
  background-color: #6a3c3a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
footer > div {
  color: white;
  padding-bottom: 20px;
}
footer > nav > ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-inline-start: 0px;
}
footer > nav > ul > li > a {
  text-decoration-color: #bc8e8d;
  color: #bc8e8d;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #d5c8c7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
main {
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
#sec1 {
  display: flex;
  flex-direction: column;
  background-image: url(./media/img/fraises.jpeg);
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 350px;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.85);
  font-family: "Orbitron", sans-serif;
  font-weight: 5;
  font-style: normal;
  font-size: 25px;
  width: 100%;
}
#sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ae3836;
  color: white;
  margin: 20px;
  border-radius: 30px;
  padding: 20px;
}
#sec2 > p {
  font-size: 20px;
}
#sec2 > nav {
  width: 100%;
}
#sec2 > nav > ul {
  font-size: 25px;
  list-style: none;
  padding-inline-start: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
#sec2 > nav > ul > li {
  border-radius: 20px;
  background-color: #6a3c3a;
  padding: 15px;
  width: 100%;
}
.class-h {
  font-family: "Orbitron", sans-serif;
  font-weight: 5;
  font-style: normal;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#sec3 {
  background-color: azure;
  border: 3px solid #6a3c3a;
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
}
.list-taille {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: relative;
}
.list-taille > div {
  border: 10px solid #d6c8c7;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(255, 5, 5, 1);
}
.list-taille > div > div {
  border: 1px solid #866966;
  border-radius: 5px;
  margin: -1px;
  display: flex;
  flex-direction: column;
}
.titre {
  position: absolute;
  background-color: #ffffff;
  font-size: 35px;
  opacity: 55%;
  border-bottom-right-radius: 20px;
  padding: 10px;
}
.list-taille > div > div > p {
  background-color: #d88080;
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}
label {
  cursor: pointer;
}
/*                      Page du CONTACT                      */
#main-contact {
  border: 5px solid #d88080;
  margin: 25px 25px;
  padding: 0 25px;

  font-size: 24px;
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;

  width: 800px;
}
#h1 {
  margin-block-start: 40px;
  margin-block-end: 10px;

  font-size: 36px;
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
}
.p {
  margin-block-start: 10px;
}
form > .form-cont > p {
  padding-left: 10px;

  display: grid;
  grid-template-columns: auto 0fr;
  justify-items: start;
  max-width: 600px;
}
form > div > p > input {
  width: 300px;
  background-color: #ffffff50;
  border-radius: 15px;
  border-color: rgb(255, 0, 0);
}
form > div > p > input {
  border-color: rgb(255, 0, 0);
  outline: none;
}
.field-contact {
  border: none;
}
#barquette > div {
  display: grid;
  grid-template-columns: auto 0fr;
  justify-items: start;
  max-width: 250px;
  padding: 10px;
}
#barquette > div > input {
  transform: scale(2, 2);
  border: 3px solid rgb(255, 0, 0);
  cursor: pointer;
}
.commande {
  font-size: 26px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
}
#barquette > p {
  text-align: start;
  margin-block-end: 5px;
}
fieldset > div > p > select {
  width: 80px;
  height: 25px;
  margin-left: 85px;
  cursor: pointer;
  text-align: center;
}
.select {
  padding: 10px;
}
#message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#message-id {
  transform: scale(1.5, 0.8);
  border: groove rgb(255, 0, 0);
  border-radius: 8px;
  outline: none;
}
#envoyer {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 10px;
}
#envoyer > input {
  background-color: #bc8e8d;
  border: 2px solid #ee1b0c;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 20px;
  transition-duration: 0.3s;
  font-family: "Sancreek", serif;
}
#envoyer > button:hover {
  background-color: #bc8e8d60;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  border: 2px outset #ee1b0c;
}
#result {
  margin: 10px;
  width: 400px;
  
  display: grid;
  grid-template-columns: 1fr;

  text-align: start;
}
#section-res{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LAPTOP et en-dessous */
@media screen and (max-width: 1279px) {
  #sec1 {
    font-size: 18px;
  }
}

/* TABLET LANDSCAPE et en-dessous */
@media screen and (max-width: 1023px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    width: 100%;
  }
  #sec1 {
    font-size: 16px;
  }
  #sec2 {
    width: 80%;
  }
  #sec3 {
    width: 70%;
  }
  .list-taille {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .list-taille img {
    max-width: 100%;
    height: auto;
  }
  .list-taille > div {
    width: 70%;
    height: 70%;
    margin-bottom: 20px;
  }
  .list-taille > div > div {
    width: 100%;
    box-sizing: border-box;
  }
}

/* MOBILE (+ TABLET PORTRAIT) et en-dessous */
@media screen and (max-width: 767px) {
  #sec2 > ul > li {
    font-size: 20px;
  }
  #sec3 {
    width: 90%;
  }
  .list-taille {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0;
  }
  .list-taille img {
    max-width: 100%;
    height: auto;
  }
  .list-taille > div {
    width: 70%;
    height: 70%;
    margin-bottom: 20px;
  }
  .list-taille > div > div {
    width: 100%;
    box-sizing: border-box;
  }
  footer > nav > ul > li {
    font-size: 14px;
  }
  .titre {
    width: 40%;
    font-size: 15px;
  }
  .aheader {
    font-size: 10px;
  }
  #sec2 {
    width: auto;
    margin: 20px;
  }
  #sec2 > nav > ul {
    flex-direction: column;
    gap: 10px;
  }
  #form-contact {
    font-size: 14px;
  }
  form > div > p > input {
    width: 170px;
  }
  .field-contact > fieldset {
    display: flex;
    flex-direction: row;
  }
  .field-contact > fieldset > div {
    display: flex;
    flex-direction: column;
  }
  #message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #message-id {
    transform: scale(1.5, 0.8);
    border: groove rgb(255, 0, 0);
    border-radius: 8px;
    outline: none;
  }
  #envoyer {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
  }
  #envoyer > button {
    background-color: #bc8e8d;
    border: 2px solid #ee1b0c;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    transition-duration: 0.3s;
    font-family: "Sancreek", serif;
  }
  #envoyer > button:hover {
    background-color: #bc8e8d60;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    border: 2px outset #ee1b0c;
  }
}
