header{
    background-color: #ae3836; 
     
}
body{
    margin: 0;
}
#listheader{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 20px;
    margin: 0; 
    padding: 0;     
}
.aheader{
    text-decoration: none;
    color: white;
    font-family:cursive;
    background-color: #885c5a;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}
#sec1{
    background-color:  #ae3836 ;
    color: white;
}


